{{#each contacts as |contact|}}
<div id="handlebars-{{contacts.id}}" data-id="{{contact.id}}" class="contact-handlebar-item">
   <ul>
     <li>ID: {{contact.id}}</li>
     <li>Name: {{contact.name}}</li>
     <li>Email: {{contact.email}}</li>
     <li>Industry: {{contact.industry}}</li>
   </ul>
   <div id="deleteable-{{contact.id}}-user-message"></div>
   <div id="update-{{contact.id}}-user-message"></div>

   <button type="button" name="button" class="delete-contact">Delete</button>

</div>
{{/each}}
